body, html {
    height: 100%;
     margin: 0;
    display: flex;
    flex-direction: column;
}   

.text {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    width: 100%;
    text-align: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: 20px;
} 

#logo {/*QUITAR ESTO*/
    width: 20px;
    height: 10px;
}

.navbar {
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000;
    padding-top: 4px; /* Ajusta el padding superior */
    padding-bottom: 4px; /* Ajusta el padding inferior */
}

.navbar-brand,
.nav-link {
  font-size: 20px; /* Tamaño de la fuente */
}

.navbar-brand {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Cambiar la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    gap: 15px;
  }
  
.nav-link {
    font-family: 'Montserrat', sans-serif; /* Cambiar la fuente */
    font-weight: 500; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    margin-right: 15px; /* Espaciado entre enlaces */
}
  
.nav-link:hover {
    color: #ffffff; /* Color al hacer hover */
}

.logo {
    margin: 0 auto;
    font-size: 47px;
}

.content {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px; /* Espaciado opcional */
}

#carouselExampleCaptions {
    width: 100%; /* Ocupa el 100% del contenedor */
    max-width: 1200px; /* Ancho máximo del carrusel */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que sobresale */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.carousel-inner img {
    height: 550px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
}

.carousel-item {
    height: 550px; /* Altura fija para las imágenes */
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000000;
}