body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
}

.navbar {
	padding-top: 4px; /* Ajusta el padding superior */
	padding-bottom: 4px; /* Ajusta el padding inferior */
}

.navbar-brand,
.nav-link {
  font-size: 20px; /* Tamaño de la fuente */
}

.navbar-brand {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Cambiar la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    gap: 15px;
  }
  
.nav-link {
    font-family: 'Montserrat', sans-serif; /* Cambiar la fuente */
    font-weight: 500; /* Peso de la fuente */
    color: #000000; /* Color del texto */
    margin-right: 15px; /* Espaciado entre enlaces */
}
  
.nav-link:hover {
    color: #ffffff; /* Color al hacer hover */
}

.logo {
    margin: 0 auto;
    font-size: 47px;
    color: #000000;
}

.quiz-container {
    width: 70%;
    margin: 50px auto;
    background-color: rgba(81, 117, 195, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.logo_header {
    position: relative;
    bottom: 4px;
    text-align: center;
    font-size: 40px;
    border: rgba(255, 255, 255, 0.7) solid;
    border-radius: 1em;
    padding: 0.3em;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    gap: 1em;
    margin-left: 2.6em;
    justify-content: center;
    width: 92%;
}

.question {
    background: rgba(240, 240, 240, 0.821);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}   

.form-select {
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px rgba(0, 0, 0, 0.248) solid;
}

.btn-submit {
    display: block;
    width: 50%;
    margin: auto;
    background-color: #5175c3;
    font-weight: bold;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    transition: background 0.3s;
}
.btn-submit:hover {
    background-color: #618ded;
}

