<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Quiz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style_quiz.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="background-color: aquamarine;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('main.index')}}">
                <i class="fa-solid fa-otter logo"></i>
                Trivia
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('main.index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="quiz-container">
        <header class="titulo">
            {% if category == 'General Knowledge'%}
                <i class="fa-solid fa-lightbulb logo_header"></i>
            {%elif category == 'Videogames'%}
                <i class="fa-solid fa-gamepad logo_header"></i>
            {%elif category == 'Geography'%}
                <i class="fa-solid fa-earth-americas logo_header"></i>
            {%elif category == 'Film movies'%}
                <i class="fa-solid fa-clapperboard logo_header"></i>
            {%else%}
                <i class="fa-solid fa-music logo_header"></i>
            {%endif%}

            <h1>{{category}}</h1>
        </header>
        <form action="" method="POST">
            {% for question in questions %}
            {% set i.count = i.count + 1 %}
                <div class="question">
                    <label class="form-label">{{ question.2 }}</label>

                    <select class="form-select" name="">
                        {% if question.3 == 'True'%}
                            <option value="correct_answer">True</option>
                            <option value="incorrect_answer">False</option>
                        {% else %}
                            <option value="incorrect_answer">True</option>
                            <option value="correct_answer">False</option>
                        {% endif %}
                    </select>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-submit">CHECK ANSWERS</button>
        </form>
    </div>
</body>
</html>
